<div class="container">
	
	<% if flash[:notice] %>
		<p class="flash"><%= flash[:notice] %></p>
	<% end %>

	<div class="row">
		<div class="col-xs-3 us-left">
			<section class="user-info">
				<h2>User info</h2>
				<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", size:'100x100' %>
				<table width="100%" class="table table-striped">
					<thead>
						<tr>
							<th width="40%">name</th>
							<th><%= @user.name %></th>
						</tr>
						<tr>
							<th width="40%">introduction</th>
							<th><%= @user.introduction %></th>
						</tr>
					</thead>
				</table>
				<% if @current_book.user == current_user %>
					<%= link_to "", edit_user_path(@user), class:"btn btn-default glyphicon glyphicon-wrench side-menu col-xs-12" %>
				<% else %>
					<%= link_to "", user_path(current_user), class:"btn btn-default glyphicon glyphicon-wrench side-menu col-xs-12" %>
				<% end %>
			</section>
			<section class="new-book">
				<h2>New book</h2>

				<%= form_for @book do |f| %>
					<div class="field">
					    <%= f.label :title %><br />
					    <%= f.text_field :title, class:"col-xs-12 side-menu-form" %>
				    </div>
				    <div class="field">
					    <label>Opinion</label><br />
					    <%= f.text_area :body, class:"col-xs-12 side-menu-form" %>
				    </div>

				    <%= f.submit "Create Book", class:"btn btn-primary col-xs-12 side-menu-form" %>
				<% end %>

			</section>
		</div>
		<section class="col-xs-9 us-right">
			<h2>Book detail</h2>
			<table class="table table-striped">
				<% if @current_book.user == current_user %>
					<tbody>
						<tr>
							<td colspan="1" width="25%">
								<%= link_to user_path(@current_book.user) do %>
									<%= attachment_image_tag @current_book.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", size:'100x100' %><br>
									<%= @current_book.user.name %>
								<% end %>
							</td>
							<td colspan="1" width="25%"><%= link_to "#{@current_book.title}", book_path(@current_book) %></td>
							<td colspan="1" width="25%"><%= @current_book.body %></td>
							<td colspan="1" width="12.5%"><%= link_to "edit", edit_book_path(@current_book), class:"btn-sm btn-success" %></td>
							<td colspan="1" width="12.5%"><%= link_to "Destroy", book_path(@current_book), class:"btn-sm btn-danger", method: :delete, data: { confirm: '削除しますか？' } %></td>
						</tr>
					</tbody>
				<% else %>
					<tbody>
						<tr>
							<td colspan="1" width="30%">
								<%= link_to user_path(@current_book.user) do %>
									<%= attachment_image_tag @current_book.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", size:'100x100' %><br>
									<%= @current_book.user.name %>
								<% end %>
							</td>
							<td colspan="1" width="30%"><%= link_to "#{@current_book.title}", book_path(@current_book) %></td>
							<td colspan="1" width="40%"><%= @current_book.body %></td>
						</tr>
					</tbody>
				<% end %>
			</table>
		</section>
	</div>
</div>